.form {
    position: absolute;
    margin-left: 30%;
    width: 40%;
    height: auto;
    border: 3px solid greenyellow;
    border-radius: 25px;
    padding: 30px;
    background-color: rgb(194, 254, 104, 0.1);
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul{
    list-style-type: none;
    margin-top: 4em;

}

li {
    margin-bottom: 1em;
    margin-left: 3em;
}

a {
    text-decoration: none;
    color: rgb(7, 156, 7);
    font-size: 20px;
}

a:hover{
    color: rgb(3, 6, 0);
    font-size: 21px;
    font-weight: 700;
    background-color: greenyellow;
}